@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ruwudu:wght@500&display=swap');

.weather{
    place-self: center;
    padding: 30px;
    border-radius:10px;
    background-image:linear-gradient(45deg, #00274d, #004080);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.search-bar{
    display:flex;
    gap:30px;
    align-items:center;
}
.search-bar input{
    height:38px;
    border:none;
    outline:none;
    border-radius:40px;
    padding-left:25px;
    color: #626262;
    background:#ebfffc;
    font-size:18px;
}
.search-icon{
    height:35px;
    padding:7px 5px 5px 5px;
    background: #ebfffc;
    cursor:pointer;
    border-radius:50%;
    width:36px
}
.weather-icon{
    height:90px;
    margin: 20px 0px;
}

.temperature{
    color:#fff;
    font-size:75px;
    line-height: 1.2;
}
.location{
    color:#fff;
    font-size:40px;
}

.weather-data{
    width:100%;
    margin-top:40px;
    color:#fff;
    display:flex;
    justify-content: space-between;
}
.weather-data .col{
    display:flex;
    align-items:flex-start;
    gap:13px;
    font-size:20px;

}
.weather-data .col img{
    height:40px;
    width:35px;
    margin-top:5px;
}
.weather-data .col span{
  /* display:block; */
    font-size:16px;
}

.data-not-found{
    margin:13px 34px 0px 0px;
    
}
.data-not-found h3{
    color:orange;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
