@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap');

*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family:sans-serif 
}

.app{
    width:100%;
    min-height:100vh;
    display: grid;
    /* display:flex; */
    background: #e2d4ff;
}

.app h2{
    place-self: center;
    font-family: "Ruwudu", serif;
    font-weight: 500;
    font-style: normal;
}
